@import url(https://fonts.google.com/specimen/Poppins);
:root {
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
    --white: hsl(0, 0%, 100%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--white);
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./images/bg-intro-desktop.png);
  background-color: var(--Red);
}
main {
    display: flex;
    width: 90%;
}
#right {
  background-color: var(--white);
}